In [1]:
# Write a program to print the first 10 Fibonacci numbers using a for loop.
a=1
b=0
for i in range(10):
    c=a+b
    a=b
    b=c
    print(c)

1
1
2
3
5
8
13
21
34
55

In [5]:
# Create a multiplication table (from 1 to 10) using nested for loops.
table_number = int(input("enter table number: "))
for i in range(1,11):
  print(f"{table_number} * {i} = {table_number * i}")

enter table number: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [6]:
# Develop a program that uses a while loop to keep asking the user for input until they enter the word "exit".
user_input = input("Enter any value: ")
while user_input != "exit":
  user_input = input("Enter any value: ")

Enter any value: 10
Enter any value: as
Enter any value: as
Enter any value: exit

In [7]:
# Write a script that iterates over a list of numbers and prints only the even numbers using the continue statement.

for i in range(1,11):
  if i % 2 != 0:
    continue
  print(i)

2
4
6
8
10

In [ ]:
# Implement a program that uses a for loop to iterate through a string and print each character on a new line. Use the break statement to stop the loop if a specific character is encountered.

for i in range(1,11):
  if i == 5:
    break
  print(i)

In [10]:
user_input = input("Enter any character: ")
stopping_char = 't'
for char in user_input:
  if char == stopping_char:
    break
  print(char)

Enter any character: dasdsttttttttttttttttttttttttttt
d
a
s
d
s